<!--The content below is only a placeholder and can be replaced.-->

<div class="container" id="container">
  <h1>Custom Input Mask Directive</h1>

  <br>

  <div>
      <br>
      <label for="Tel:">Tel </label><br>
      <input appInputMask="(999) 999-9999" type="text"> <br><br>
      <label for="Tel:">Tel </label><br>
      <input appInputMask="+99 999 99 99 99" type="text"> <br><br>
      <label for="Tel:">VAT: </label><br>
      <input appInputMask="AA-9999 9999 9999 9999" type="text"> <br><br>
      <label for="Tel:">Any input: </label><br>
      <input appInputMask="********************" type="text">
  </div> 

</div>




